<div class="body">
<div class="container body">
    <div class="row">
        <div class="col-12">
            <h1 class="neonText tam2">Bienvenidos al manual de descarga del videojuego: </h1><br>
            <h1 class="neonText1 tam1">NIGHTCITY</h1>
            <hr style="background-color: white;">
            <p class="tam1 neonNegro"> 1.</p><p class="tam2 blanco">Descarga el contenido del siguiente enlace:</p>
            <br>
            <a class="neonRojo tam2" href="https://drive.google.com/file/d/1-fOLRUzsVxpP9fiWjukcHavHbXtqMrh7/view?usp=sh">https://drive.google.com/file/d/1-fOLRUzsVxpP9fiWjukcHavHbXtqMrh7/view?usp=sh</a>
            <br>
            <br>
            <p class="tam1 neonNegro"> 2.</p><p class="tam2 blanco">Ejecutar el archivo .exe descargado:</p>
            <br>
            <img src="../../../assets/img/1.png">
            <br>
            <br>
            <p class="tam1 neonNegro"> 3.</p><p class="tam2 blanco">Cuando aparezca la siguiente ventana pulsar donde se indica:</p>
            <br>
            <img src="../../../assets/img/2.png">
            <br>
            <br>
            <img src="../../../assets/img/3.png">
            <br>
            <br>
            <p class="tam1 neonNegro"> 4.</p><p class="tam2 blanco">A continuación aparecerá la siguiente ventana, donde se podrá elegir la ruta en la que guardar los archivos (se recomienda la que se muestra en la imagen), una vez seleccionada la ruta pulsar donde se indica:</p>
            <br>
            <img src="../../../assets/img/4.png">
            <br>
            <br>
            <p class="tam1 neonNegro"> 5.</p><p class="tam2 blanco">Una vez terminada la extracción aparecerá el siguiente acceso en su escritorio, solo queda ejecutarlo y disfrutar!!</p>
            <br>
            <img src="../../../assets/img/5.png">
        </div>
    </div>
</div>

</div>