<style>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

</style>

<div id="principio" class="opacidad1">
  <div class="container">
    <!--Carrusel imagenes-->
    <div class="container">

      <div class="row py-3">
        <div class="col">
          <div id="carouselExampleCaptions" class="carousel slide no-padding" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/img/dema tecnica.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5></h5>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/lorelei 1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/Promo.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>




        </div>

      </div>
    </div>

    <!--Fin Carrusel Imgs-->
  </div>
  <hr style="color: purple;">
  <!--Parche más reciente-->
  <div style=" width: 100%;">
    <div class="container opacidad2" style=" width: 100%;">
      <div class="row">
        <div class="col-lg-5 margin ">
          <img src="../../../assets/img/jefe 1.png" width="500px" height="300px">

        </div>
        <div class="col-lg-7 margin ">
          <h3 class="letra2" style="font-family: 'Orbitron', sans-serif;">SOBRE EL DEBORADOR DE MUNDOS</h3>
          <p class="letra1">La oscuridad se acerca a NightCity de una forma nunca antes vista... Es el Deborador de mundos!!<br>
            Un enemigo que nos acribillará con potentes ataques a distancia mientras mantiene una posición segura lejos de nuestro rango de ataque.

           
          </p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <!--Titulos-->
  <div class="div100">
    <div class="div501 centrar">
      <h1 class="fondoletra" style="font-family: 'Orbitron', sans-serif;">ACTUALIZACIONES</h1>
      <br>
      <div class="container opacidad4" style=" width: 100%;">
        <div class="row">
          <div class="col-lg-5 margin ">
            <img class="imagennot" src="../../../assets/img/jefe 1.png" width="500px" height="300px">

          </div>
          <div class="col-lg-7 margin ">
            <h3 class="titulonoticia letrasAlt" style="font-family: 'Orbitron', sans-serif;">WORLD EATER RELEASE</h3>
            <p class="cuerponot letrasAlt">Notas del parche sobre el nuevo Jefe final
            </p>
            <br>
            <a href="/news"><button class="buttons2">Leer más</button></a>
          </div>
        </div>
      </div>
      <br>
      <div class="container opacidad3" style=" width: 100%;">
        <div class="row">
          <div class="col-lg-5 margin ">
            <img class="imagennot" src="../../../assets/img/PC.png" width="500px" height="300px">

          </div>
          <div class="col-lg-7 margin ">
            <h3 class="titulonoticia" style="font-family: 'Orbitron', sans-serif;">NEW CHARACTER RELEASE</h3>
            <p class="cuerponot">Información sobre el desarrollo del nuevo personable jugable
            </p>
            <br>
            <a href="/news"><button class="buttons1">Leer más</button></a>
          </div>
        </div>
      </div>
      <br>
      <div class="container opacidad4" style=" width: 100%;">
        <div class="row">
          <div class="col-lg-5 margin ">
            <img class="imagennot" src="../../../assets/img/jefe 1.png" width="500px" height="300px">

          </div>
          <div class="col-lg-7 margin " style="margin-bottom: 10px;">
            <h3 class="titulonoticia letrasAlt" style="font-family: 'Orbitron', sans-serif;">MORE ENEMIES</h3>
            <p class="cuerponot letrasAlt">Información sobre los nuevos enemigos añadidos.
            </p>
            <br>
            <a href="/news"><button class="buttons2">Leer más</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="div502 centrar">
      <h1 class="fondoletra" style="font-family: 'Orbitron', sans-serif;">VIDEOS</h1>
      <div>
        <br>
        <br>
        <video src="../../../assets/videos/2022-06-14 22-08-24_Trim.mp4" width="820px"  height="400px" autoplay></video>
        <br>
        <br>
        <video src="../../../assets/videos/2022-06-14 22-08-24_Trim (2).mp4" width="820px"  height="400px" autoplay></video>
      </div>
    </div>
  </div>

  <a class="a" href="/news" style="margin-left: 20%;">
		Noticias
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</a>

  <br>
  <br>
  <br>
  <div class="container">



    <!--Animacion-->
    <div class="container m-5" >
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="content">
              <h2>Sobre nosotros</h2>
              <h4>Somos Andrés Ruiz Delgado y Javier Campos Cuevas, <br> estudiantes de DAM, y esta Web y juego <br> son nuestro proyecto de final de grado.
              <br><br> Aceptamos cualquier consejo o idea para<br> mejorar la experiencia y calidad del juego. <br>
            Contáctenos en nuestras redes sociales.</h4>
            </div>
            <div class="mt-4">
              <a href="#"><button class="buttons">Volver Arriba</button></a>
            </div> 
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!--DIV opaco-->
