<!-- Remove the container if you want to extend the Footer to full width. -->

  <footer class="text-center text-white neonText">
    
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.facebook.com"
          role="button"
          ><fa-icon [icon]="facebookIcon"></fa-icon
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://twitter.com/PoLaleyenda"
          role="button"
          ><fa-icon [icon]="twitterIcon"></fa-icon
        ></a>

        <!-- Google -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="#!"
          role="button"
          ><fa-icon [icon]="googleIcon"></fa-icon
        ></a>

        <!-- Instagram -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.instagram.com/camposs5/"
          role="button"
          ><fa-icon [icon]="instagramIcon"></fa-icon
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.linkedin.com/in/javier-campos-cuevas-90b9391b8/"
          role="button"
          ><fa-icon [icon]="linkedinIcon"></fa-icon
        ></a>

        <!-- Github -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/DarknessYamii/"
          role="button"
        >
          <fa-icon [icon]="githubIcon"></fa-icon>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright:
      <a class="text-white" href="">Y&C.com</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- End of .container -->
