<div class="fondo">
<div class="d-flex justify-content-center container "><figure class="snip1527">
    <div class="image"><img src="../../../assets/img/not1.png" alt="pr-sample23" /></div>
    <figcaption>
      <div class="date"><span class="day">14</span><span class="month">Jun</span></div>
      <h3>	
  Demo técnica disponible</h3>
      <p>La primera versión de NightCity está disponible para la descarga conmuchas características que probar!!!
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527 hover">
    <div class="image"><img src="../../../assets/img/not2.png" alt="pr-sample24" /></div>
    <figcaption>
      <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
      <h3>	
  Motambe (Desarrollo)</h3>
      <p>
  
        Presentamos a Motambe un mandril criado en la nueva sociedad que nos enseñará el arte de la Tecno Magia
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="../../../assets/img/not3.png" alt="pr-sample25" /></div>
    <figcaption>
      <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
      <h3>Nuevo personable jugable</h3>
      <p>
  
        Está en desarrollo un nuevo PC que se dedicará a repartir piñas por toda NightCity!!!
      </p>
    </figcaption>
    <a href="#"></a>
  </figure></div>
  <br>
  <div class="d-flex justify-content-center container mt-5"><figure class="snip1527">
    <div class="image"><img src="../../../assets/img/not4.png" alt="pr-sample23" /></div>
    <figcaption>
      <div class="date"><span class="day">28</span><span class="month">Jul</span></div>
      <h3>	
  Sir Palmero</h3>
      <p>Presentamos a Sir Palmero, un noble caballero que hará de mentor en el arte de las armas blancas
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527 hover">
    <div class="image"><img src="../../../assets/img/not5.png" alt="pr-sample24" /></div>
    <figcaption>
      <div class="date"><span class="day">01</span><span class="month">Ene</span></div>
      <h3>	
  Seak Peak Protagonista</h3>
      <p>
  
        El mayor misterio es el primero que se nos plantea, ¿quién es y qué busca en esta ciudad?
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="../../../assets/img/not6.png" alt="pr-sample25" /></div>
    <figcaption>
      <div class="date"><span class="day">14</span><span class="month">Oct</span></div>
      <h3>Lorelei la mecánica</h3>
      <p>
  
        Presentamos a Lorelei la mejor mecánica de todas las lineas temporales de esta ciudad. LAs chapuzas son lo suyo
      </p>
    </figcaption>
    <a href="#"></a>
  </figure></div>
  <br>
  <div class="d-flex justify-content-center container mt-5"><figure class="snip1527">
    <div class="image"><img src="../../../assets/img/not7.png" alt="pr-sample23" /></div>
    <figcaption>
      <div class="date"><span class="day">28</span><span class="month">Feb</span></div>
      <h3>	
        World Eater
  </h3>
      <p>Un viajante espacio temporal terrorífico esta causando estragos en nuestra linea temporal de NightCity. Hay que detenerlo!!!
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527 hover">
    <div class="image"><img src="../../../assets/img/not8.png" alt="pr-sample24" /></div>
    <figcaption>
      <div class="date"><span class="day">10</span><span class="month">Jun</span></div>
      <h3>	
  Pick Ups!!!</h3>
      <p>
  
        Se añaden varias pociones con efectos diversos y cofres del tesoro. Solo ten en cuenta que no todo lo que brilla es oro...
      </p>
    </figcaption>
    <a href="#"></a>
  </figure>
  <figure class="snip1527">
    <div class="image"><img src="../../../assets/img/not9.png" alt="pr-sample25" /></div>
    <figcaption>
      <div class="date"><span class="day">01</span><span class="month">Jun</span></div>
      <h3>Ataque de los Orcos</h3>
      <p>
  
        Toda una horda de enemigos de la raza Orcos están llegando para acabar con nosotros. Al ataque!!!
      </p>
    </figcaption>
    <a href="#"></a>
  </figure></div>


</div>
