<body>
  <div class="loginBox">
    <img
      class="user"
      src="https://i.ibb.co/yVGxFPR/2.png"
      height="100px"
      width="100px"
    />
    <h3></h3>
    <form method="post">
      <div class="inputBox">
        <input id="uname" type="text" name="Username" placeholder="Usuario" />
        <input
          id="pass"
          type="password"
          name="Password"
          placeholder="Contraseña"
        />
      </div>
      <input type="submit" name="" value="Registrarse" />
    </form>
    <div class="text-center">
      <a routerLink="/login" style="color: #59238f">Iniciar Sesion</a>
    </div>
  </div>
</body>
