<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
</head>

  <div class="container-fluid">
    <img src="../../../../assets/img/YandC.png">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul
          class="nav navbar-nav"
          style="display: inline; padding-left: 3px; padding-right: 3px"
        >
          <li><a id="len1" class="hoverable" href="#">Home</a></li>
          <li><a id="len2" class="hoverable" href="#">About</a></li>
          <li><a id="len3" class="hoverable" href="#">Portfolio</a></li>
          <li><a id="len4" class="hoverable" href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <script src="../../../../assets/js/header.js"></script>
  <script
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
  ></script>
